<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/fragmentos :: head"></head>
    <body class="sb-nav-fixed">
        <nav th:replace="layout/fragmentos :: cabecera"></nav>
        <div id="layoutSidenav">
            <div th:replace="layout/fragmentos :: menu"></div>
            <div id="layoutSidenav_content">
                <main>
                
                <!-- Aqui inicia el contenido del producto -->
                
                    <div class="container pt-4 fs-5">
                    
                    <div th:if="${mensaje != null}" class="alert alert-primary alert-dismissible fade show" role="alert">
					  <strong>Mensaje!</strong> <span th:text="${mensaje}"></span>
					  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
                    
                    <p class="text-center text-dark fs-3 font-monospace">Productos</p>
                    	<form th:action="@{/producto/form}" th:object="${producto}" method="post" class="font-monospace">
                      	<!-- Retira el input y ingresale en el modal -->  	
                    		<div class="card bg-danger text-dark border-dark">
                    			<div class="card-header color-rosado border-dark">Datos del producto</div>
                    			<div class="card-body color-rosado-claro border-dark">
                    			
                    				<div class="row">
	                    				<div class="col-md-6 mb-3">
	                    					<label class="mb-3 border-dark">Categoría:</label>
	                    					<select th:field="*{categoria.id}" class="form-select border-dark" required="required">
	                    						<option value="" class="border-dark">Seleccione una opción</option>
	                    						<option th:each="item : ${listaCategorias}" 
	                    						th:value="${item.id}" th:text="${item.nombre}">
	                    						</option>
	                    					</select>
	                    				</div>
	                    				
	                    				<div class="col-md-6 mb-3">
	                    					<label class="mb-3 border-dark">Proveedor:</label>
	                    					<select th:field="*{proveedor.id}" class="form-select border-dark" required="required">
	                    						<option value="">Seleccione una opción</option>
	                    						<option th:each="item : ${listaProveedor}" th:value="${item.id}" th:text="${item.nombre}">
	                    						</option>
	                    					</select>
	                    				</div>
	                    				
                    				</div>
                    				
                    				<div class="row">
                    					<div class="col-md-6 mb-3">
                    						<label class="mb-3">Nombre del producto:</label>
                    						<input th:field="*{nombre}" type="text" class="form-control border-dark"
                    						 placeholder="Ingrese el nombre" th:errorclass="'form-control alert-danger'">
                    						 <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}">Campo obligatorio</small>
                    					</div>
                    					<div class="col-md-6 mb-3">
                    						<label class="mb-3">Precio del producto:</label>
                    						<input th:field="*{precio}" type="number" class="form-control border-dark" 
                    						placeholder="Ingrese el precio" th:errorclass="'form-control alert-danger'">
                    						<small class="form-text text-danger" th:if="${#fields.hasErrors('precio')}">Campo obligatorio</small>
                    					</div>
                    				</div>
                    				
                    				<div class="row mt-3">
                    					<div class="col-12 text-center">
                    						<button type="submit" class="btn btn-dark">
                    							<i class="fas fa-save"></i>
                    							Guardar Producto
                    						</button>
                    					</div>	
                    				</div>
                    				
                    			</div>
                    		</div>
                    	</form>
                    	<br><br>
                    	
                    	<div class="card border-dark font-monospace bg-danger">
                    		<div class="card-header border-dark text-dark color-rosado">Productos Registrados</div>
                    		<div class="card-body color-rosado-claro">
                    			<table class="table table-bordered table-hover border-dark text-dark">
                    				<thead class="border-dark">
                    					<tr class="border-dark text-center color-rosado">
                    						<th>Categoría</th>
                    						<th>Proveedor</th>
                    						<th>Nombre</th>
                    						<th>Precio</th>
                    						<th>Fecha</th>
                    						<th></th>
                    						<th></th>
                    					</tr>
                    				</thead>
                    				<tbody class="border-dark">
                    					<tr th:each="item: ${listaProductos}">
                    						<td th:text="${item.categoria.nombre}"></td>
                    						<td th:text="${item.proveedor.nombre}"></td>
                    						<td th:text="${item.nombre}"></td>
                    						<td th:text="${item.precio}"></td>
                    						<td th:text="${item.fecha_registro}"></td>
                    						
                    						<!-- th:href="@{/producto/editar/} + ${item.id}"  -->
                    						<td class="text-center">
                   								<a class="btn btn-dark editarProducto" href="#"
                   									th:data-id="${item.id}"
                   									th:data-categoria="${item.categoria.id}"
                   									th:data-proveedor="${item.proveedor.id}"
                   									th:data-nombre="${item.nombre}"
                   									th:data-precio="${item.precio}"
                   								>
                   								
                   								<i class="fas fa-edit"></i> Editar
                   								</a>
                   							</td>
                   							
                   							<td class="text-center">
                   								<a class="btn btn-danger" th:href="@{/producto/eliminar/} + ${item.id}"
                   								onclick="return confirm('¿Desea eliminar el registro del Producto?')">
                   								<i class="fas fa-trash-alt"></i> Eliminar
                   								</a>
                   							</td> 
                    					</tr>
                    				</tbody>
                    			</table>
                    		</div>
                    	</div>
                    	
						
                    </div>
                
                		<!-- Aqui finalzia el contenido producto -->
                		
                	
                </main>
                <footer th:replace="layout/fragmentos :: footer"></footer>
            </div>
        </div>
        
		<!-- Modal -->
		<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header color-rosado-claro text-center">
		        <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
		        
		      </div>
		      
		      	<form th:action="@{/producto/form}" th:object="${producto}" method="post">
			      	<div class="modal-body">
			       		<input type="hidden" th:field="*{id}">
			       		
			       		<div class="row">
			       			<div class="col-12 mb-3">
			       				<label class="mb-3 border-dark">Categoría:</label>
	                    			<select name="categoria.id" id="cboCategoria" class="form-select border-dark" required="required">
	                    				<option value="" class="border-dark">Seleccione una opción</option>
	                    				<option th:each="item : ${listaCategorias}" th:value="${item.id}" th:text="${item.nombre}"></option>
	                    			</select>
			       			</div>
			       		</div>
			       		
			       		<div class="row">
			       			<div class="col-12 mb-3">
			       				<label class="mb-3 border-dark">Proveedor:</label>
	                    			<select name="proveedor.id" id="cboProveedor" class="form-select border-dark" required="required">
	                    				<option value="">Seleccione una opción</option>
	                    				<option th:each="item : ${listaProveedor}" th:value="${item.id}" th:text="${item.nombre}">
	                    				</option>
	                    			</select>
			       			</div>
			       		</div>
			       		
			       		<div class="row">
			       			<div class="col-12 mb-3">
			       				<label class="mb-3">Nombre del producto:</label>
                    				<input name="nombre" id="txtNombre" type="text" class="form-control border-dark" placeholder="Ingrese el nombre">
			       			</div>
			       		</div>
			       		
			       		<div class="row">
			       			<div class="col-12 mb-3">
			       				<label class="mb-3">Precio del producto:</label>
                    				<input name="precio" id="txtPrecio" type="number" class="form-control border-dark" placeholder="Ingrese el precio">
			       			</div>
			       		</div>
			        
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa-solid fa-ban"></i> Cancelar</button>
			        	<button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Guardar Cambios</button>
			      	</div>
		      	</form>
		    </div>
		  </div>
		</div>
       
       
        <div th:replace="layout/fragmentos :: scripts"></div>
        <script type="text/javascript" th:src="@{/js/producto.js}"></script>
        
    </body>
</html>
